
#header {
  padding: 24px 48px;

  background-color: #eee;

  position: absolute;
  top: 0;
  left: 0;

  h1.title {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 24px;
  }
  
  h2.subtitle {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: justify;
  }
  
}