
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,400italic|Roboto+Slab:100');
@import 'reset';

@import 'header';
@import 'timeline';

@import 'info';

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

html {
  background-color: #fff;
  
  font-family: 'Roboto', sans-serif;
  color: $primary;
}

#scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  text-align: center;
  
  margin-top: 90px;
  
  padding: 64px;
  font-size: 16px;
  font-weight: bold;

  text-transform: uppercase;

  transition: opacity 0.2s ease;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
}