
@import 'values';

$mission-width: 128px;
$mission-spacing: 8px;
$vehicle-bar-size: 8px;

$timeline-wrap: false;

#timeline {
  display: flex;
  flex-direction: row;

  @if $timeline-wrap {
    flex-wrap: wrap;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .fate-lost {
    color: rgba(255, 64, 48, 0.7) !important;
  }
  
  .mission {
    display: flex;
    flex-direction: column;

    width: $mission-width;

    padding: 0 $mission-spacing;

    .vehicle {
      margin-left: -$mission-spacing + (($mission-width - 128px) / 2);
    }

    &.future-launch {
      opacity: 0.3;
    }

    .mission-info {

      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -$vehicle-bar-size;
        left: -$mission-spacing * 2;
        width: $mission-spacing * 2;
        border-top: $vehicle-bar-size solid transparent;
      }

      border-top: $vehicle-bar-size solid rgba(black, 0.1);
      width: 100%;

      text-align: center;
      justify-content: center;

      margin-top: 24px;
      padding: 24px 0;

      white-space: nowrap;
      
      .mission-customer {
        color: $secondary;
        font-size: 12px;
        padding-bottom: 8px;
      }
      
      .mission-name {
        font-size: 12px;
        font-weight: bold;
      }
      
      .mission-payloads {
        font-size: 12px;
        font-weight: bold;
        list-style-type: none;

      }

    }

    &.fate-lost {
      .mission-name, .payload-name {
        color: rgba(255, 64, 48, 0.7) !important;
      }

    }
    
    &.vehicle-f1 .mission-info {
      border-top-color: #b4b4b4;
    }
    
    &.vehicle-f9v10 .mission-info {
      border-top-color: #90CC43;
    }
    
    &.vehicle-f9v11 .mission-info {
      border-top-color: #CCAA55;
    }
    
    &.vehicle-f9v12 .mission-info {
      border-top-color: #5571CC;
    }
    
  }

  @if not $timeline-wrap {
    .vehicle-f1 + .vehicle-f1 .mission-info:before {
      border-top-color: #b4b4b4;
    }
    
    .vehicle-f9v10 + .vehicle-f9v10 .mission-info:before {
      border-top-color: #90CC43;
    }
    
    .vehicle-f9v11 + .vehicle-f9v11 .mission-info:before {
      border-top-color: #CCAA55;
    }
    
    .vehicle-f9v12 + .vehicle-f9v12 .mission-info:before {
      border-top-color: #5571CC;
    }

  }
  
}